@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-700
    }
    app-root {
        @apply w-full h-full p-2 lg:p-4 2xl:p-12
        flex flex-col justify-center items-center
    }
    app-header {
        @apply w-full h-auto
    }
    app-pokemon-form {
        @apply w-full h-auto
        flex justify-center items-center
    }
    app-pokemon-list {
        @apply w-full h-full mt-2 md:mt-4 2xl:mt-6
    }
    h1 {
        @apply w-full h-auto mb-4
        text-center text-2xl text-red-300 font-bold
    }
}

@layer components {
    .pokemon-wrapper {
        @apply w-full h-full p-6 lg:p-12
        flex flex-col justify-center items-center
    }
    .pokemon-header {
        @apply w-full h-auto
        flex flex-col justify-center items-center
    }
    .input-text {
        @apply w-full h-full space-x-4
        flex justify-start items-center
    }
    .input-text input {
        @apply w-full h-10 px-6 rounded-md
        focus:outline-none focus:shadow-sm
        focus:ring-2  focus:ring-red-500
    }
    .btn-primary {
        @apply w-auto h-10 py-1 px-2
        bg-slate-300
        hover:border-none hover:bg-red-500 hover:text-white
        active:bg-red-300 text-base rounded-md
        transition ease-in-out duration-300 capitalize
    }
    .pokemon-list {
        @apply w-full h-full mt-6
        flex flex-col justify-start items-start
    }
    .pokemon-list ul {
        @apply w-full h-full
        flex flex-col justify-start items-center
    }
    .pokemon-item {
        @apply w-full xl:w-2/3 h-auto py-4
        flex justify-center items-center
        border-b border-slate-600
    }
    .pokemon-item img {
        @apply w-32 h-32 mr-6
        flex justify-center items-center
    }
    .pokemon-item p {
        @apply w-full h-auto text-slate-300
        flex justify-center items-center
    }
    .pokemon-data {
        @apply w-1/2 h-full ml-6
        text-2xl font-semibold text-white
        capitalize
    }
}
