<section class="w-full h-full flex flex-col justify-center items-center">
    <form class="w-full xl:w-2/3 flex flex-col justify-center items-center" [formGroup]="pokemonForm"
        (ngSubmit)="onSubmit()">
        <fieldset class="input-text">
            <input class="w-full" type="text" placeholder="pikachu" name="name" formControlName="name" />
            <button class="btn-primary" type="submit">
                capture
            </button>
        </fieldset>
        <div *ngIf="pokemonForm.controls['name'].invalid && (pokemonForm.controls['name'].dirty || pokemonForm.controls['name'].touched)"
            class="error">
            <div *ngIf="pokemonForm.controls['name'].errors['required']">
                {{"Please enter Pokemon name"}}
            </div>
            <div *ngIf="pokemonForm.controls['name'].hasError('noPokemon')">
                Pokemon don't exist in database
            </div>
        </div>
    </form>
    <article class="pokemon-list">
        <ul *ngFor="let pokemon of pokemonList">
            <li class="pokemon-item">
                <img [src]="pokemon?.data.photo_uq" alt="pokemon-image">
                <p>ID: <span class="pokemon-data">{{pokemon?.data.id_pk}}</span></p>
                <p>NAME: <span class="pokemon-data">{{pokemon?.data.name_uq}}</span></p>
            </li>
        </ul>
    </article>
</section>
